# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [1]:
def sum_list(lst):
  return sum(lst)
sum_list([1, 2, 3, 4, 5])

15

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [3]:
def max_list(lst):
  return max(lst)
max_list([3, 5, 1, 9, 2])

9

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [5]:
def min_list(lst):
  return min(lst)
min_list([4, 7, 1, 9])

1

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [8]:
def rev_list(lst):
  return lst[::-1]
rev_list([1, 2, 3, 4, 5])

[5, 4, 3, 2, 1]

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [9]:
def pal_list(lst):
  return lst==lst[::-1]
pal_list([1, 2, 3, 4, 5])

False

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [10]:

from collections import Counter

def count_elements(lst):
  return Counter(lst)

print(count_elements([1, 2, 2, 3, 3, 3]))
print(count_elements(["a", "b", "a", "c", "c", "c"]))

Counter({3: 3, 2: 2, 1: 1})
Counter({'c': 3, 'a': 2, 'b': 1})

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [11]:

def second_largest(lst):
  lst = sorted(list(set(lst)))
  if len(lst) < 2:
    return "List should have at least two distinct elements"
  return lst[-2]

print(second_largest([10, 20, 4, 45, 99]))
print(second_largest([3, 5, 7, 7, 8]))

45
7

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [12]:

def merge_sorted_lists(list1, list2):
  return sorted(list1 + list2)

print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))
print(merge_sorted_lists([0, 2, 8], [1, 3, 7]))

[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 7, 8]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [13]:
def remove_duplicates_ordered(lst):
  seen = set()
  result = []
  for item in lst:
    if item not in seen:
      seen.add(item)
      result.append(item)
  return result

print(remove_duplicates_ordered(["a", "b", "a", "c", "c", "d"]))

['a', 'b', 'c', 'd']

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [15]:

def rotate_list(lst, k):
  n = len(lst)
  if n == 0:
    return lst
  k = k % n
  return lst[n-k:] + lst[:n-k]

print(rotate_list([1, 2, 3, 4, 5], k=2))
print(rotate_list([10, 20, 30, 40, 50], k=3))

[4, 5, 1, 2, 3]
[30, 40, 50, 10, 20]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [16]:

def intersection_of_lists(list1, list2):
  return list(set(list1) & set(list2))

print(intersection_of_lists([1, 2, 3, 4], [3, 4, 5, 6]))
print(intersection_of_lists(["apple", "banana", "cherry"], ["banana", "cherry", "date"]))

[3, 4]
['cherry', 'banana']

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [17]:

def union_of_lists(list1, list2):
  return list(set(list1) | set(list2))

print(union_of_lists([1, 2, 3], [3, 4, 5]))
print(union_of_lists(["a", "b", "c"], ["b", "c", "d"]))

[1, 2, 3, 4, 5]
['d', 'b', 'c', 'a']

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [18]:

def difference_of_lists(list1, list2):
  return list(set(list1) - set(list2))

print(difference_of_lists([1, 2, 3, 4], [2, 4, 6]))
print(difference_of_lists(["cat", "dog", "rabbit"], ["dog", "rabbit"]))

[1, 3]
['cat']

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [19]:

def mode_list(lst):
  counts = Counter(lst)
  return max(counts, key=counts.get)

print(mode_list([1, 2, 2, 3, 3, 3]))
print(mode_list(["apple", "banana", "apple", "cherry", "apple"]))

3
apple

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [21]:

def flatten_list(nested_list):
  flattened = []
  for item in nested_list:
    if isinstance(item, list):
      flattened.extend(flatten_list(item))
    else:
      flattened.append(item)
  return flattened

print(flatten_list([[1, 2, [3]], 4]))
print(flatten_list([["a", ["b", "c"]], "d"]))

[1, 2, 3, 4]
['a', 'b', 'c', 'd']

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [22]:

def find_pairs_with_sum(lst, target):
  seen = set()
  pairs = []
  for num in lst:
    complement = target - num
    if complement in seen:
      pairs.append((min(num, complement), max(num, complement)))
    seen.add(num)
  return sorted(list(set(pairs)))

print(find_pairs_with_sum([1, 2, 3, 4, 5], target=6))
print(find_pairs_with_sum([2, 4, 6, 8], target=10))

[(1, 5), (2, 4)]
[(2, 8), (4, 6)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [23]:

def product_except_self(lst):
  n = len(lst)
  result = [1] * n

  # Calculate the prefix products
  prefix_product = 1
  for i in range(n):
    result[i] *= prefix_product
    prefix_product *= lst[i]

  # Calculate the suffix products and combine
  suffix_product = 1
  for i in range(n - 1, -1, -1):
    result[i] *= suffix_product
    suffix_product *= lst[i]

  return result

print(product_except_self([1, 2, 3, 4]))
print(product_except_self([5, 6, 7]))

[24, 12, 8, 6]
[42, 35, 30]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [24]:

def longest_consecutive(nums):
  num_set = set(nums)
  longest_streak = 0

  for num in num_set:
    if num - 1 not in num_set:  # Start of a sequence
      current_num = num
      current_streak = 1

      while current_num + 1 in num_set:
        current_num += 1
        current_streak += 1

      longest_streak = max(longest_streak, current_streak)

  return longest_streak

print(longest_consecutive([100, 4, 200, 1, 3, 2]))
print(longest_consecutive([10, 11, 12, 50, 51, 52]))

4
3

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [25]:

def contains_sublist(main_list, sub_list):
  n = len(main_list)
  m = len(sub_list)

  if m > n:
    return False

  for i in range(n - m + 1):
    if main_list[i:i+m] == sub_list:
      return True

  return False

print(contains_sublist([1, 2, 3, 4, 5], [3, 4]))
print(contains_sublist([10, 20, 30, 40], [20, 50]))

True
False

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [26]:

def kth_largest_element(lst, k):
  lst.sort()
  return lst[-k]

print(kth_largest_element([3, 2, 1, 5, 6, 4], k=2))
print(kth_largest_element([10, 20, 30, 40, 50], k=3))

5
30

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [29]:

def find_all_duplicates(lst):
  counts = Counter(lst)
  duplicates = [item for item, count in counts.items() if count > 1]
  return duplicates

print(find_all_duplicates([1, 2, 3, 4, 2, 3, 5]))
print(find_all_duplicates([10, 10, 20, 30, 30]))

[2, 3]
[10, 30]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [30]:

def partition_even_odd(lst):
  even_list = [num for num in lst if num % 2 == 0]
  odd_list = [num for num in lst if num % 2 != 0]
  return (even_list, odd_list)

print(partition_even_odd([1, 2, 3, 4, 5]))
print(partition_even_odd([10, 15, 20, 25]))

([2, 4], [1, 3, 5])
([10, 20], [15, 25])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [31]:

def find_first_non_repeating(lst):
  counts = Counter(lst)
  for item in lst:
    if counts[item] == 1:
      return item
  return None

print(find_first_non_repeating([4, 5, 1, 2, 0, 4]))
print(find_first_non_repeating([10, 20, 10, 30, 20]))

5
30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Python’s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [32]:

def manual_sort(lst):
  n = len(lst)
  for i in range(n):
    for j in range(0, n - i - 1):
      if lst[j] > lst[j+1]:
        lst[j], lst[j+1] = lst[j+1], lst[j]
  return lst

print(manual_sort([3, 1, 4, 1, 5, 9]))
print(manual_sort([10, 5, 2, 8]))

[1, 1, 3, 4, 5, 9]
[2, 5, 8, 10]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`