In [ ]:

Reverse a String
Task: Write a function that takes a string and returns it reversed.
Input: "hello"
Output: "olleh"

In [4]:
def myfunc(input_string):
    output = ""
    val = len(input_string)
    for i in range(val):
        output = output + input_string[- (i + 1)]
    return output

x = myfunc("hello")
print(x)

olleh

In [ ]:

Count Vowels
Task: Count the number of vowels in a given lowercase string.
Input: "data science"
Output: 5

In [6]:
storage = ['a','e','i','o','u']
input = "data science"
count = 0
for i in input:
  if i in storage:
    count+=1
print(count)

5

In [ ]:

Sum of List
Task: Return the sum of all numbers in a given list.
Input: [1, 2, 3, 4, 5]
Output: 15

In [ ]:
# input_list = [1, 2, 3, 4, 5]
# print(sum(input_list))

In [20]:
Input =  [1, 2, 3, 4,5]
sum = 0
for i in Input:
  sum+=i
print(sum)

15

In [ ]:

Check Palindrome
Task: Return True if the given string is a palindrome, otherwise False.
Input: "madam"
Output: True

In [23]:
## use the above reversing function
input = "madam"
reversed = myfunc(input)
if input == reversed:
  print(True)
else:
  print(False)

True

In [ ]:

Remove Duplicates from List
Task: Remove duplicates from a list while preserving order.
Input: [1, 3, 2, 1, 3, 4]
Output: [1, 3, 2, 4]

In [36]:
Input = [1, 3, 2, 1, 3, 4]
Output = []
for val in Input:
  if val not in Output:
    Output.append(val)

print(Output)

[1, 3, 2, 4]

In [ ]:

Word Frequency Counter
Task: Count the frequency of each word in a string and return a dictionary.
Input: "apple banana apple orange"
Output: {'apple': 2, 'banana': 1, 'orange': 1}

In [ ]:

List of Even Squares
Task: Return a list of squares of even numbers from a given list.
Input: [1, 2, 3, 4, 5]
Output: [4, 16]

In [61]:
Input = [1, 2, 3, 4, 5]
output = []
for val in Input:
  if val%2 == 0:
    output.append(val**2)
print(output)

[4, 16]

In [ ]:

Flatten Nested List
Task: Flatten a 2D list into a 1D list.
Input: [[1, 2], [3, 4], [5]]
Output: [1, 2, 3, 4, 5]

In [71]:
Input = [[1, 2], [3, 4], [5]]
output = []
for row in Input:
  for col in row:
    output.append(col)
print(output)

[1, 2, 3, 4, 5]

In [ ]:

Group Words by Length
Task: Group words from a list into a dictionary based on their length.
Input: ["a", "to", "tea", "ted", "ten"]
Output: {1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten']}

In [139]:
Input = ["a", "to", "tea", "ted", "ten"]
output = {}
for val in Input:
  if len(val) in output.keys():
    output[len(val)].append(val)
  else:
    output[len(val)] = [val]

print(output)

{1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten']}

In [ ]:

Fibonacci Generator
Task: Write a generator that yields the first n Fibonacci numbers.
Input: n = 6
Output: [0, 1, 1, 2, 3, 5]

In [73]:
n = 6
Output = []
for i in range(n):
  if i == 0:
    Output.append(0)
  elif i == 1:
    Output.append(1)
  else:
    Output.append(Output[i-1]+Output[i-2])
print(Output)

[0, 1, 1, 2, 3, 5]

In [ ]:

Merge Dictionaries by Summing Values
Task: Merge two dictionaries by summing values of common keys.
Input: {'a': 5, 'b': 3}, {'a': 2, 'c': 4}
Output: {'a': 7, 'b': 3, 'c': 4}

In [112]:
Dict1 = {'a': 5, 'b': 3}
Dict2 = {'a': 2, 'c': 4}

a = list(Dict1.keys())
b = list(Dict2.keys())
for i in b:
  if i not in a:
    a.append(i)

freq = []

for letter in a:
  if letter in Dict1.keys():
    a1 = Dict1[letter]
  else: a1 = 0
  if letter in Dict2.keys():
    a2 = Dict2[letter]
  else: a2 = 0

  freq.append(a1+a2)

dict = {}
for i in range(len(a)):
  dict[a[i]] = freq[i]
dict

{'a': 7, 'b': 3, 'c': 4}

In [ ]:

Custom Sorting
Task: Sort a list of tuples based on the second element in descending order.
Input: [('a', 3), ('b', 1), ('c', 2)]
Output: [('a', 3), ('c', 2), ('b', 1)]

In [137]:
Input = [('a', 3), ('b', 1), ('c', 2)]
output = []
for i in Input:
  if i[1] == 3:
    output.append((i[0],3))
for i in Input:
  if i[1] == 2:
    output.append((i[0],2))
for i in Input:
  if i[1] == 1:
    output.append((i[0],1))




output

[('a', 3), ('c', 2), ('b', 1)]