# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [2]:
def find_sum(arr):
    return sum(arr)

list1 = [1, 2, 3, 4, 5]
list2 = [10, -2, 3]
print(find_sum(list1))
print(find_sum(list2))

15
11

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [3]:
def find_max(arr):
    return max(arr)

list1 = [3, 5, 1, 9, 2]
list2 = [10, 22, 5, 8]
print(find_max(list1))
print(find_max(list2))

9
22

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [4]:
def find_min(arr):
    return min(arr)

list1 = [4, 7, 1, 9]
list2 = [10, 15, 3, 8]
print(find_min(list1))
print(find_min(list2))

1
3

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [6]:
def reverse_list(arr):
    arr.reverse()
    return arr

list1 = [1, 2, 3, 4, 5]
list2 = ["a", "b", "c", "d"]
print(reverse_list(list1))
print(reverse_list(list2))

[5, 4, 3, 2, 1]
['d', 'c', 'b', 'a']

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [7]:
def palindrom_list(arr):
    return arr == arr[::-1]

list1 = [1, 2, 3, 2, 1]
list2 = [1, 2, 3, 4, 5]
print(palindrom_list(list1))
print(palindrom_list(list2))

True
False

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [8]:
def find_freq(arr):
    freq_dict = {}
    for item in arr:
        if item in freq_dict.keys():
            freq_dict[item] += 1
        else:
            freq_dict[item] = 1
    return freq_dict

list1 = [1, 2, 2, 3, 3, 3]
list2 = ["a", "b", "a", "c", "c", "c"]
print(find_freq(list1))
print(find_freq(list2))

{1: 1, 2: 2, 3: 3}
{'a': 2, 'b': 1, 'c': 3}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [9]:
def second_largest(arr):
    arr.sort()
    return arr[-2]

list1 =[10, 20, 4, 45, 99]
list2 = [3, 5, 7, 7, 8]
print(second_largest(list1))
print(second_largest(list2))

45
7

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [14]:
def merge_list(arr1, arr2):
    arr3 = []
    arr1_lenght = len(arr1)
    arr2_lenght = len(arr2)
    i, j = 0, 0
    while i<arr1_lenght and j<arr2_lenght:
        if arr1[i]<arr2[j]:
            arr3.append(arr1[i])
            i += 1
        else:
            arr3.append(arr2[j])
            j += 1
    if i<arr1_lenght:
        for i in range(i, arr1_lenght):
            arr3.append(arr1[i])
    else:
        for j in range(j, arr2_lenght):
            arr3.append(arr2[j])
    return arr3

list1 = [1, 3, 5] 
list2 = [2, 4, 6]
print(merge_list(list1, list2))

list1 = [0, 2, 8] 
list2 = [1, 3, 7]
print(merge_list(list1, list2))

[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 7, 8]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [16]:
def unique(arr):
    return list(set(arr))

list1 = [1, 2, 2, 3, 4, 4, 5]
list2 = ["a", "b", "a", "c", "c", "d"]
print(unique(list1))
print(unique(list2))

[1, 2, 3, 4, 5]
['a', 'b', 'd', 'c']

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [23]:
def rotate_list(arr, k):
    #print(arr[:-k])
    list_rt = arr[:-k]
    x = 0
    for i in range(len(arr)-k, len(arr)):
        list_rt.insert(x, arr[i])
        x += 1
    return list_rt

list1 = [1, 2, 3, 4, 5]
k1 = 2
list2 = [10, 20, 30, 40, 50]
k2 = 3
print(rotate_list(list1, k1))
print(rotate_list(list2, k2))

[4, 5, 1, 2, 3]
[30, 40, 50, 10, 20]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [26]:
def intersect_list(arr1, arr2):
    return list(set(arr1) & set(arr2))

list1 = [1, 2, 3, 4] 
list2 = [3, 4, 5, 6]
print(intersect_list(list1, list2))

list1 = ["apple", "banana", "cherry"]
list2 = ["banana", "cherry", "date"]
print(intersect_list(list1, list2))

[3, 4]
['cherry', 'banana']

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [36]:
def intersect_list(arr1, arr2):
    arr3 = list(set(arr1) | set(arr2))
    arr3.sort()
    return arr3

list1 = [1, 2, 3] 
list2 = [3, 4, 5]
print(intersect_list(list1, list2))

list1 = ["a", "b", "c"]
list2 = ["b", "c", "d"]
print(intersect_list(list1, list2))

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [39]:
def dif_list(arr1, arr2):
    arr3 = []
    for item in arr1:
        if item not in arr2:
            arr3.append(item)
    return arr3

list1 = [1, 2, 3, 4] 
list2 = [2, 4, 6]
print(dif_list(list1, list2))

list1 = ["cat", "dog", "rabbit"]
list2 = ["dog", "rabbit"]
print(dif_list(list1, list2))

[1, 3]
['cat']

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [40]:
def max_occur(arr):
    return max(arr, key=arr.count)

list1 = [1, 2, 2, 3, 3, 3]
list2 = ["apple", "banana", "apple", "cherry", "apple"]
print(max_occur(list1))
print(max_occur(list2))

3
apple

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [44]:
def flatten_list(arr):
    arr1 = []
    for item in arr:
        if isinstance(item, list):
            arr1.extend(flatten_list(item))
        else:
            arr1.append(item)
    return arr1

list1 = [[1, 2, [3]], 4]
print(flatten_list(list1))

list1 = [["a", ["b", "c"]], "d"]
print(flatten_list(list1))

[1, 2, 3, 4]
['a', 'b', 'c', 'd']

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [70]:
from itertools import combinations

def find_pair(arr, k):
    return [pair for pair in combinations(arr, 2) if sum(pair) == k]

list1 = [1, 2, 3, 4, 5]
k1 = 6
print(find_pair(list1, k1))

list2 = [2, 4, 6, 8]
k2 = 10
print(find_pair(list2, k2))

[(1, 5), (2, 4)]
[(2, 8), (4, 6)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [69]:
def product_except_self(nums):
    n = len(nums)
    left_products = [1] * n
    right_products = [1] * n
    result = [1] * n

    for i in range(1, n):
        left_products[i] = left_products[i-1] * nums[i-1]

    for i in range(n-2, -1, -1):
        right_products[i] = right_products[i+1] * nums[i+1]

    for i in range(n):
        result[i] = left_products[i] * right_products[i]

    return result


list1 = [1, 2, 3, 4]
print(product_except_self(list1))


list2 = [5, 6, 7]
print(product_except_self(list2))

[24, 12, 8, 6]
[42, 35, 30]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [68]:
def long_seq(arr):
    num_set = set(arr)
    long_streak = 0

    for num in arr:
        if num - 1 not in num_set:
            current_num = num
            current_streak = 1

            while current_num + 1 in num_set:
                current_num += 1
                current_streak += 1

            long_streak = max(long_streak, current_streak)

    return long_streak

list1 = [100, 4, 200, 1, 3, 2]
print(long_seq(list1))

list1 = [10, 11, 12, 50, 51, 52]
print(long_seq(list1))

4
3

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [54]:
def find_subset(arr1, arr2):
    len_sub_list = len(arr2)
    for i in range(len(arr1)-len_sub_list+1):
        if arr1[i:i+len_sub_list] == arr2:
            return True
    return False

list1 = [1, 2, 3, 4, 5] 
list2 = [3, 4]
print(find_subset(list1, list2))

list1 = [10, 20, 30, 40]
list2 = [20, 50]
print(find_subset(list1, list2))

True
False

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [57]:
def k_largest(arr, k):
    arr.sort()
    return arr[-k]

list1 = [3, 2, 1, 5, 6, 4]
k1 = 2
print(k_largest(list1, k1))

list2 = [10, 20, 30, 40, 50]
k1 = 3
k_largest(list2, k2)

5

30

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [60]:
def find_dup(arr):
    dup_arr = []
    temp_arr = []
    for item in arr:
        if item in temp_arr:
            dup_arr.append(item)
        else:
            temp_arr.append(item)
    return dup_arr

list1 = [1, 2, 3, 4, 2, 3, 5]
print(find_dup(list1))

list2 = [10, 10, 20, 30, 30]
print(find_dup(list2))

[2, 3]
[10, 30]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [65]:
def sep_list(arr):
    even = []
    odd = []
    tuple_ = tuple()
    for item in arr:
        if item%2==0:
            even.append(item)
        else:
            odd.append(item)
    return tuple_ + (even,) + (odd,)

list1 = [1, 2, 3, 4, 5]
print(sep_list(list1))

list2 = [10, 15, 20, 25]
print(sep_list(list2))

([2, 4], [1, 3, 5])
([10, 20], [15, 25])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [66]:
def find_non_dup(arr):
    dup_arr = []
    temp_arr = []
    for item in arr:
        if item in temp_arr:
            dup_arr.append(item)
        else:
            temp_arr.append(item)
    for item in temp_arr:
        if item not in dup_arr:
            return item
    return none

list1 = [4, 5, 1, 2, 0, 4]
print(find_non_dup(list1))

list2 = [10, 20, 10, 30, 20]
print(find_non_dup(list2))

5
30

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Python’s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [74]:
def sort_list(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    return arr

list1 = [3, 1, 4, 1, 5, 9]
print(sort_list(list1))

list2 = [10, 5, 2, 8]
print(sort_list(list2))

[1, 1, 3, 4, 5, 9]
[2, 5, 8, 10]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [73]:
def find_triplets(arr):
    n = len(arr)
    arr1 = []
    for i in range(n - 2):
        for j in range(i + 1, n - 1):
            for k in range(j + 1, n):
                if arr[i] + arr[j] + arr[k] == 0:
                    arr1.append([arr[i], arr[j], arr[k]])
    return arr1


list1 = [-1, 0, 1, 2, -1, -4]
print(find_triplets(list1))

list2 = [1, -2, 1, 0, 5]
print(find_triplets(list2))

[[-1, 0, 1], [-1, 2, -1], [0, 1, -1]]
[[1, -2, 1]]