In [ ]:
Problem Statement:
 Write a function to flatten a nested list of strings
Example:
input = [ 'nata', 'pizza' [ 'eat', 'tea' ], ['sort'] ]

In [15]:
import numpy as np
def flat_loop(s):
    return np.concatenate(s).tolist()
s=[ 'nata', 'pizza' , [ 'eat', 'tea' ], ['sort'] ]
print(flat_loop(s))

ValueError: zero-dimensional arrays cannot be concatenated

In [39]:
def flat_list1(nested_list):
    flat_list= []

    for item in nested_list:
        if isinstance(item,list):
            flat_list.extend (flat_list1(item))
        else:
            flat_list.append(item)
    return flat_list
nested_list=['nata','pizza' , ['eat','tea'],['sort']]
print(flat_list1(nested_list))

['nata', 'pizza', 'eat', 'tea', 'sort']

In [ ]:
Problem Statement:
 Write a function that compresses a string using the counts of repeated characters.
 If the compressed string is not smaller than the original, return the original.
Example:
Input: "aaabbccccaaa"
Output: "a3b2c4a3"

In [51]:
def compress_string(s):
    compressed=[]
    count=1
    for i in range(1,len(s)):
        if s[i]==s[i-1]:
            count+=1
        else:
            compressed.append(f"{s[i-1]}{count}")
            count=1
    compressed.append(f"{s[-1]}{count}")
    compressed_str="".join(compressed)
    return compressed_str if len(compressed_str) < len(s) else s
s="aaaabbbccccaaa"
print(compress_string(s))

a4b3c4a3

In [ ]:
 Write a function that takes a string and returns the top 3 most frequent words in it (ignoring case and punctuation).
Example:
Input: "The quick brown fox jumps over the lazy dog. The dog barked."

In [61]:
import re
from collections import Counter
def word_counter(s):
    words=re.findall(r'\b\w+\b' ,s.lower())
    words_counter=Counter(words)
    return words_counter.most_common(3)
s="the most common person in this world is a person who is most common"
print(word_counter(s))

[('most', 2), ('common', 2), ('person', 2)]

In [ ]:
Problem Statement:
 Given a list of strings, group them into anagrams (words with the same letters in different order).
Example:
Input: ["bat", "tab", "eat", "tea", "tan", "nat"]

In [63]:
from collections import defaultdict
def grp_ana(w):
    anagram=defaultdict(list)
    for i in w:
        anagram["".join(sorted(i))].append(i)
    return list(anagram.values())
w=["bat", "tab", "eat", "tea", "tan", "nat"]
print(grp_ana(w))

[['bat', 'tab'], ['eat', 'tea'], ['tan', 'nat']]