# 1. Find the Sum of All Elements in a List
## Problem Statement:
Write a function to return the sum of all elements in a list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `15`

## Example 2:
**Input:** `[10, -2, 3]`  
**Output:** `11`

In [1]:
sum = 0
input = [10, -2, 3]
for num in input:
    sum += num
print("sum =",sum)

sum = 11

# 2. Find the Maximum Element in a List
## Problem Statement:
Write a function to find the maximum element in a list.

## Example 1:
**Input:** `[3, 5, 1, 9, 2]`  
**Output:** `9`

## Example 2:
**Input:** `[10, 22, 5, 8]`  
**Output:** `22`

In [2]:
input = [3, 5, 1, 9, 2]
max_elem = float('-inf')

for num in input:
    max_elem = max(max_elem,num)

print("max_elem =",max_elem)

max_elem = 9

# 3. Find the Minimum Element in a List
## Problem Statement:
Write a function to find the minimum element in a list.

## Example 1:
**Input:** `[4, 7, 1, 9]`  
**Output:** `1`

## Example 2:
**Input:** `[10, 15, 3, 8]`  
**Output:** `3`

In [3]:
input = [4, 7, 1, 9]
min_elem = float('inf')

for num in input:
    min_elem = min(min_elem,num)

print("min_elem =",min_elem)

min_elem = 1

# 4. Reverse a List
## Problem Statement:
Write a function to reverse a given list.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `[5, 4, 3, 2, 1]`

## Example 2:
**Input:** `["a", "b", "c", "d"]`  
**Output:** `["d", "c", "b", "a"]`

In [6]:
input = [1, 2, 3, 4, 5]
mid = len(input) // 2
end = len(input) - 1

for i in range(mid):
    input[i], input[end] = input[end], input[i]
    end -= 1

print("ans =",input)

ans = [5, 4, 3, 2, 1]

# 5. Check if a List is Palindromic
## Problem Statement:
Write a function to check if a list is the same forward and backward.

## Example 1:
**Input:** `[1, 2, 3, 2, 1]`  
**Output:** `True`

## Example 2:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `False`

In [9]:
input = [1, 2, 3, 2, 1]
def isPalindrome(arr):
    mid = len(arr) // 2
    end = len(arr) - 1

    for i in range(mid):
        if arr[i] != arr[end]:
            return False
        end -= 1
    return True

output = isPalindrome(input)

print("output =",output)

output = True

# 6. Count the Frequency of Elements in a List
## Problem Statement:
Write a function to count the occurrences of each element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `{1: 1, 2: 2, 3: 3}`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "c"]`  
**Output:** `{"a": 2, "b": 1, "c": 3}`

In [10]:
def makeDict(word):
    dictionary = {}
    for s in word:
        if s in dictionary:
            dictionary[s] += 1
        else:
            dictionary[s] = 1
    return dictionary

input = ["a", "b", "a", "c", "c", "c"]
output = makeDict(input)
print("output =",output)

output = {'a': 2, 'b': 1, 'c': 3}

# 7. Find the Second Largest Number in a List
## Problem Statement:
Write a function to find the second largest number in a list.

## Example 1:
**Input:** `[10, 20, 4, 45, 99]`  
**Output:** `45`

## Example 2:
**Input:** `[3, 5, 7, 7, 8]`  
**Output:** `7`

In [20]:
input = [10, 20, 4, 45, 99]
output = input.copy()
output.sort()
ans = output[-2]
print("ans =",ans)

ans = 45

# 8. Merge Two Sorted Lists
## Problem Statement:
Write a function to merge two sorted lists into a single sorted list.

## Example 1:
**Input:** `[1, 3, 5]`, `[2, 4, 6]`  
**Output:** `[1, 2, 3, 4, 5, 6]`

## Example 2:
**Input:** `[0, 2, 8]`, `[1, 3, 7]`  
**Output:** `[0, 1, 2, 3, 7, 8]`

In [23]:
arr1, arr2 = [1, 3, 5], [2, 4, 6]
ans = []
while len(arr1) > 0 and len(arr2) > 0:
    if arr1[0] < arr2[0]:
        ans.append(arr1.pop(0))
    else:
        ans.append(arr2.pop(0))

for i in range(len(arr1)):
    ans.append(arr1.pop(0))
    
for i in range(len(arr2)):
    ans.append(arr2.pop(0))

print("ans =", ans)

ans = [1, 2, 3, 4, 5, 6]

# 9. Remove Duplicates from a List
## Problem Statement:
Write a function to remove duplicate elements from a list while maintaining order.

## Example 1:
**Input:** `[1, 2, 2, 3, 4, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "a", "c", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [24]:
input = ["a", "b", "a", "c", "c", "d"]

seen = set()

ans = []

for num in input:
    if num not in seen:
        ans.append(num)
        seen.add(num)

print("ans =",ans)

ans = ['a', 'b', 'c', 'd']

# 10. Rotate a List by k Positions
## Problem Statement:
Write a function to rotate a list by `k` positions to the right.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `k=2`  
**Output:** `[4, 5, 1, 2, 3]`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `[30, 40, 50, 10, 20]`

In [28]:
input = [1, 2, 3, 4, 5]
k = 2

size = len(input)
k = k % size

ans = input.copy()
for i in range(k):
    ans.insert(0,ans.pop(-1))

print("ans =",ans)

ans = [4, 5, 1, 2, 3]

# 11. Find the Intersection of Two Lists
## Problem Statement:
Write a function to find the common elements between two lists.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[3, 4, 5, 6]`  
**Output:** `[3, 4]`

## Example 2:
**Input:** `["apple", "banana", "cherry"]`, `["banana", "cherry", "date"]`  
**Output:** `["banana", "cherry"]`

In [2]:
def find_common_elements(list1, list2):
    common = []
    for item in list1:
        if item in list2 and item not in common:
            common.append(item)
    return common

a = [5, 1, 2, 3, 4]
b = [3, 4, 5, 6]
print(find_common_elements(a, b))

[5, 3, 4]

# 12. Find the Union of Two Lists
## Problem Statement:
Write a function to return the union of two lists (without duplicates).

## Example 1:
**Input:** `[1, 2, 3]`, `[3, 4, 5]`  
**Output:** `[1, 2, 3, 4, 5]`

## Example 2:
**Input:** `["a", "b", "c"]`, `["b", "c", "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [3]:
a, b = ["a", "b", "c"], ["b", "c", "d"]
all = set()

for x in a:
    all.add(x)

for x in b:
    all.add(x)

ans = list(all)
print("ans =",ans)

ans = ['c', 'b', 'a', 'd']

# 13. Find the Difference Between Two Lists
## Problem Statement:
Write a function to return elements present in the first list but not in the second.

## Example 1:
**Input:** `[1, 2, 3, 4]`, `[2, 4, 6]`  
**Output:** `[1, 3]`

## Example 2:
**Input:** `["cat", "dog", "rabbit"]`, `["dog", "rabbit"]`  
**Output:** `["cat"]`

In [6]:
a, b = [1, 2, 3, 4], [2, 4, 6]

set_a = set(a)
set_b = set(b)

ans = list(set_a - set_b)

print("ans =",ans)

ans = [1, 3]

# 14. Find the Mode of a List
## Problem Statement:
Write a function to return the most frequently occurring element in a list.

## Example 1:
**Input:** `[1, 2, 2, 3, 3, 3]`  
**Output:** `3`

## Example 2:
**Input:** `["apple", "banana", "apple", "cherry", "apple"]`  
**Output:** `"apple"`

In [20]:
def make_dict(arr):
    dictionary = {}
    for x in arr:
        if x in dictionary:
            dictionary[x] += 1
        else:
            dictionary[x] = 1
    return dictionary

input = [1, 2, 2, 3, 3, 3]
a = make_dict(input)

a = dict(sorted(a.items(), key=lambda item: item[0], reverse=True))
ans = list(a.keys())[0]
print(ans)

3

# 15. Flatten a Nested List
## Problem Statement:
Write a function to flatten a nested list into a single list.

## Example 1:
**Input:** `[[1, 2, [3]], 4]`  
**Output:** `[1, 2, 3, 4]`

## Example 2:
**Input:** `[["a", ["b", "c"]], "d"]`  
**Output:** `["a", "b", "c", "d"]`

In [21]:
def flatten_list(nested):
    flat = []
    for item in nested:
        if isinstance(item, list):
            flat += flatten_list(item)
        else:
            flat.append(item)
    return flat

a = [[1, 2, [3]], 4]
print(flatten_list(a))

[1, 2, 3, 4]

# 16. Find Pairs in a List That Sum to a Target Value
## Problem Statement:
Write a function to find all pairs in a list that sum to a given target.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `target=6`  
**Output:** `[(1, 5), (2, 4)]`

## Example 2:
**Input:** `[2, 4, 6, 8]`, `target=10`  
**Output:** `[(2, 8), (4, 6)]`

In [22]:
def find_pairs(numbers, target):
    pairs = []
    for i in range(len(numbers)):
        for j in range(i + 1, len(numbers)):
            if numbers[i] + numbers[j] == target:
                pairs.append((numbers[i], numbers[j]))
    return pairs

a = [1, 2, 3, 4, 5]
print(find_pairs(a, 6))

[(1, 5), (2, 4)]

# 17. Find the Product of All Elements Except Self
## Problem Statement:
Write a function that returns a list where each index contains the product of all numbers except the number at that index.

## Example 1:
**Input:** `[1, 2, 3, 4]`  
**Output:** `[24, 12, 8, 6]`

## Example 2:
**Input:** `[5, 6, 7]`  
**Output:** `[42, 35, 30]`

In [23]:
def product_except_self(nums):
    result = []
    for i in range(len(nums)):
        product = 1
        for j in range(len(nums)):
            if i != j:
                product *= nums[j]
        result.append(product)
    return result

a = [1, 2, 3, 4]
print(product_except_self(a))

[24, 12, 8, 6]

# 18. Find the Longest Consecutive Sequence in a List
## Problem Statement:
Write a function to find the longest sequence of consecutive numbers in a list.

## Example 1:
**Input:** `[100, 4, 200, 1, 3, 2]`  
**Output:** `4  (sequence: [1, 2, 3, 4])`

## Example 2:
**Input:** `[10, 11, 12, 50, 51, 52]`  
**Output:** `3  (sequence: [10, 11, 12])`

In [24]:
def longest_consecutive(nums):
    nums = set(nums)
    longest = 0

    for num in nums:
        if num - 1 not in nums:
            length = 1
            current = num
            while current + 1 in nums:
                current += 1
                length += 1
            if length > longest:
                longest = length
    return longest

a = [100, 4, 200, 1, 3, 2]
print(longest_consecutive(a))

4

# 19. Check if a List Contains a Sublist
## Problem Statement:
Write a function to check if a list contains a given sublist.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`, `[3, 4]`  
**Output:** `True`

## Example 2:
**Input:** `[10, 20, 30, 40]`, `[20, 50]`  
**Output:** `False`

In [25]:
def contains_sublist(main, sub):
    found = False
    for i in range(len(main) - len(sub) + 1):
        match = True
        for j in range(len(sub)):
            if main[i + j] != sub[j]:
                match = False
                break
        if match:
            found = True
            break
    return found

a = [1, 2, 3, 4, 5]
b = [3, 4]
print(contains_sublist(a, b))

True

# 20. Find the Kth Largest Element in a List
## Problem Statement:
Write a function to find the `k`th largest element in a list.

## Example 1:
**Input:** `[3, 2, 1, 5, 6, 4]`, `k=2`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 30, 40, 50]`, `k=3`  
**Output:** `30`

In [26]:
def find_kth_largest(numbers, k):
    numbers.sort(reverse=True)
    return numbers[k - 1]

a = [3, 2, 1, 5, 6, 4]
print(find_kth_largest(a, 2))

5

# 21. Find All Duplicates in a List
## Problem Statement:
Write a function to return a list of all duplicate elements.

## Example 1:
**Input:** `[1, 2, 3, 4, 2, 3, 5]`  
**Output:** `[2, 3]`

## Example 2:
**Input:** `[10, 10, 20, 30, 30]`  
**Output:** `[10, 30]`

In [27]:
def find_duplicates(numbers):
    seen = []
    duplicates = []
    for num in numbers:
        if num in seen and num not in duplicates:
            duplicates.append(num)
        else:
            seen.append(num)
    return duplicates

a = [1, 2, 3, 4, 2, 3, 5]
print(find_duplicates(a))

[2, 3]

# 22. Partition a List into Even and Odd Elements
## Problem Statement:
Write a function to split a list into two separate lists, one containing even numbers and the other containing odd numbers.

## Example 1:
**Input:** `[1, 2, 3, 4, 5]`  
**Output:** `([2, 4], [1, 3, 5])`

## Example 2:
**Input:** `[10, 15, 20, 25]`  
**Output:** `([10, 20], [15, 25])`

In [28]:
def split_even_odd(numbers):
    evens = []
    odds = []
    for num in numbers:
        if num % 2 == 0:
            evens.append(num)
        else:
            odds.append(num)
    return evens, odds

a = [1, 2, 3, 4, 5]
print(split_even_odd(a))

([2, 4], [1, 3, 5])

# 23. Find the First Non-Repeating Element in a List
## Problem Statement:
Write a function to find the first element that does not repeat.

## Example 1:
**Input:** `[4, 5, 1, 2, 0, 4]`  
**Output:** `5`

## Example 2:
**Input:** `[10, 20, 10, 30, 20]`  
**Output:** `30`

In [29]:
def first_non_repeating(numbers):
    for num in numbers:
        if numbers.count(num) == 1:
            return num
    return None

a = [4, 5, 1, 2, 0, 4]
print(first_non_repeating(a))

5

# 24. Sort a List Without Using Built-in Sort
## Problem Statement:
Write a function to sort a list in ascending order without using Python’s built-in sort.

## Example 1:
**Input:** `[3, 1, 4, 1, 5, 9]`  
**Output:** `[1, 1, 3, 4, 5, 9]`

## Example 2:
**Input:** `[10, 5, 2, 8]`  
**Output:** `[2, 5, 8, 10]`

In [30]:
def sort_list(numbers):
    for i in range(len(numbers)):
        for j in range(i + 1, len(numbers)):
            if numbers[i] > numbers[j]:
                temp = numbers[i]
                numbers[i] = numbers[j]
                numbers[j] = temp
    return numbers

a = [3, 1, 4, 1, 5, 9]
print(sort_list(a))

[1, 1, 3, 4, 5, 9]

# 25. Find All Triplets That Sum to Zero
## Problem Statement:
Write a function to find all triplets in a list that sum to zero.

## Example 1:
**Input:** `[-1, 0, 1, 2, -1, -4]`  
**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

## Example 2:
**Input:** `[1, -2, 1, 0, 5]`  
**Output:** `[[-2, 1, 1]]`

In [31]:
def find_triplets(nums):
    result = []
    nums.sort()
    for i in range(len(nums)):
        if i > 0 and nums[i] == nums[i - 1]:
            continue
        left = i + 1
        right = len(nums) - 1
        while left < right:
            total = nums[i] + nums[left] + nums[right]
            if total == 0:
                triplet = [nums[i], nums[left], nums[right]]
                if triplet not in result:
                    result.append(triplet)
                left += 1
                right -= 1
            elif total < 0:
                left += 1
            else:
                right -= 1
    return result

a = [-1, 0, 1, 2, -1, -4]
print(find_triplets(a))

[[-1, -1, 2], [-1, 0, 1]]