In [ ]:

Reverse a String
Task: Write a function that takes a string and returns it reversed.
Input: "hello"
Output: "olleh"

In [61]:
input = "hello"
temp = []
ans = []

for s in input:
    temp.append(s)

for i in range(len(temp)):
    index = len(temp) - i - 1
    ans.append(temp[index])

ans = "".join(ans)
print("ans =",ans)

ans = olleh

In [ ]:

Count Vowels
Task: Count the number of vowels in a given lowercase string.
Input: "data science"
Output: 5

In [72]:
input = "data science"
count = 0
vowels = ['a','e','i','o','u']

for s in input:
    if s in vowels:
        count += 1

print("count =", count)

count = 5

In [ ]:

Sum of List
Task: Return the sum of all numbers in a given list.
Input: [1, 2, 3, 4, 5]
Output: 15

In [71]:
input = [1, 2, 3, 4, 5]
sum = 0
for num in input:
    sum += num

print("sum =", sum)

sum = 15

In [ ]:

Check Palindrome
Task: Return True if the given string is a palindrome, otherwise False.
Input: "madam"
Output: True

In [70]:
def isPalendrome(input):
    mid = len(input) // 2
    for s in range(mid):
        e = len(input) - s - 1
        if (input[s] != input[e]):
            return False
    return True

ans = isPalendrome("madam")
print("ans =", ans)

ans = True

In [ ]:

Remove Duplicates from List
Task: Remove duplicates from a list while preserving order.
Input: [1, 3, 2, 1, 3, 4]
Output: [1, 3, 2, 4]

In [69]:
input = [1, 3, 2, 1, 3, 4]
seen = set()
ans = []

for num in input:
    if num not in seen:
        ans.append(num)
        seen.add(num)

print("ans =", ans)

ans = [1, 3, 2, 4]

In [ ]:

Word Frequency Counter
Task: Count the frequency of each word in a string and return a dictionary.
Input: "apple banana apple orange"
Output: {'apple': 2, 'banana': 1, 'orange': 1}

In [68]:
input = "apple banana apple orange"
separated = input.split()
# print("separated =", separated)

output = {}
for s in separated:
    if s not in output:
        output[s] = 1
    else:
        output[s] += 1

print("output =",output)

output = {'apple': 2, 'banana': 1, 'orange': 1}

In [ ]:

List of Even Squares
Task: Return a list of squares of even numbers from a given list.
Input: [1, 2, 3, 4, 5]
Output: [4, 16]

In [67]:
input = [1, 2, 3, 4, 5]

squared = [num * num for num in input]

ans = [num for num in squared if num % 2 == 0]

print("ans =", ans)

ans = [4, 16]

In [ ]:

Flatten Nested List
Task: Flatten a 2D list into a 1D list.
Input: [[1, 2], [3, 4], [5]]
Output: [1, 2, 3, 4, 5]

In [66]:
input = [[1, 2], [3, 4], [5]]

ans = []

for row in input:
    for num in row:
        ans.append(num)

print("ans =", ans)

ans = [1, 2, 3, 4, 5]

In [ ]:

Group Words by Length
Task: Group words from a list into a dictionary based on their length.
Input: ["a", "to", "tea", "ted", "ten"]
Output: {1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten']}

In [65]:
input = ["a", "to", "tea", "ted", "ten"]
ans = {}

for s in input:
    size = len(s)

    if size in ans:
        ans[size].append(s)
    else:
        ans[size] = [s]

print("ans =", ans)

ans = {1: ['a'], 2: ['to'], 3: ['tea', 'ted', 'ten']}

In [ ]:

Fibonacci Generator
Task: Write a generator that yields the first n Fibonacci numbers.
Input: n = 6
Output: [0, 1, 1, 2, 3, 5]

In [64]:
def fibonacci(n):
    seq = [0, 1]

    for i in range(n-2):
        seq.append(seq[i] + seq[i+1])

    return seq

ans = fibonacci(6)
print("ans =", ans)

ans = [0, 1, 1, 2, 3, 5]

In [ ]:

Merge Dictionaries by Summing Values
Task: Merge two dictionaries by summing values of common keys.
Input: {'a': 5, 'b': 3}, {'a': 2, 'c': 4}
Output: {'a': 7, 'b': 3, 'c': 4}

In [63]:
input1 = {'a': 5, 'b': 3}
input2 = {'a': 2, 'c': 4}

ans = {}

def addInDict(input):
    for key in input:
        if key in ans:
            ans[key] += input[key]
        else:
            ans[key] = input[key]

addInDict(input1)
addInDict(input2)
print("ans =", ans)

ans = {'a': 7, 'b': 3, 'c': 4}

In [ ]:

Custom Sorting
Task: Sort a list of tuples based on the second element in descending order.
Input: [('a', 3), ('b', 1), ('c', 2)]
Output: [('a', 3), ('c', 2), ('b', 1)]

In [74]:
input = [('a', 3), ('f', 7),('b', 1),('e', 5), ('c', 2), ('d', 6)]

ans = []
for pair in input:
    index = 0
    inserted = False
    # print("ans =", ans)

    for i in range(len(ans)):
        if ans[i][1] < pair[1]:
            ans.insert(i,pair)
            inserted = True
            break
    if inserted == False:
        ans.append(pair)

print("ans =", ans)

ans = [('f', 7), ('d', 6), ('e', 5), ('a', 3), ('c', 2), ('b', 1)]

In [ ]:
# Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.
# Example 1:
# Input: height = [0,1,0,2,1,0,1,3,2,1,2,1]
# Output: 6
# Explanation: The above elevation map (black section) is represented by array [0,1,0,2,1,0,1,3,2,1,2,1]. In this case, 6 units of rain water (blue section) are being trapped.
# Example 2:
# Input: height = [4,2,0,3,2,5]
# Output: 9
# Constraints:
# n == height.length
# 1 <= n <= 2 * 104
# 0 <= height[i] <= 105